.search-container {
  display: flex;
  height: 35px;
  align-items: center;
  background: white;
  border-radius: 8px;
  border: 2px solid #1E88E5;
  overflow: hidden;
  max-width: 350px;
  transition: 0.3s;

  .search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;

    &::placeholder {
      color: #959595;
    }
  }
  
  .search-button {
    max-width: 40px;
    background: #1E88E5;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    
    &:hover {
      background: #1565C0;
    }
  }
  
}

