.manage-person-modal {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.manage-person-modal-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  
  button {
    width: 120px;
  }
}