.input-container {
  display: flex;
  flex-direction: column;
  width: 100%; 

  .input-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-label-solid {
    color: #1E88E5;
  }

  .input-label-light {
    color: white;
  }
  
  .input-container {
    display: flex;
    gap: 2px;
    align-items: center;
    flex-direction: row;

    .custom-input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 13px;
      transition: border-color 0.3s, box-shadow 0.3s;
      
      &:focus {
        border-color: #1565C0;
        box-shadow: 0 0 5px rgba(30, 136, 229, 0.5);
      }
      
      &::placeholder {
        color: #aaa;
      }
    }
    
    .custom-input-default {
      background: #EAEAEA;
    }

    .custom-input-white {
      background: white;
    }
  
    .custom-input-password {
      cursor: pointer;
      background: white;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: #1E88E5;
      padding: 5px;
    }
  }
  
  .error-message {
    margin-top: 5px;
    color: #e53935;
    font-size: 12px;
    height: 17px;
  }
}
