.register-person {
  width: 100%;
  height: 100dvh; 
  background-image: url('./../../assets/images/home.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .register-person-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 50px;
    background: #1E88E5;
    box-shadow: 0px 0px 5px #00000080;
    padding: 20px;

    .register-person-icon {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 10px;
      padding: 20px;
      text-align: center;
    }

    .register-person-line {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;  
    }

    button {
      margin-top: 10px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 480px) {
  .register-person {
    background-image: none;
    
    .register-person-form {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      justify-content: center;
  
      .register-person-icon {
        svg {
          width: 60%;
          height: auto;
        }
      }
    }
  }
}