.measures-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  .measures-list-header {
    display: flex;
    justify-content: space-between;

    button {
      width: 200px;
    }
  }
}