.imc-page {
  width: 100%;
  height: calc(100dvh - 90px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 14px;
  }

  .imc-page-form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .imc-page-actions {
    width: 100%;
    justify-content: center;
    display: flex;

    button {
      width: 300px;
    }
  }

  .imc-page-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .imc-page {
    height: calc(100dvh - 175px);
    overflow-y: auto;
    overflow-x: hidden;

    .imc-page-form {
      grid-template-columns: auto;
      gap: 10px;
    }

    .imc-page-actions {
      button {
        margin-top: 10px;
      }
    }
  }
}