*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

body {
  list-style-type: none;
  color: var(--low-pure);
  font-family: Roboto, sans-serif;

  input::placeholder {
    color: var(--low-pure);
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}